@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/imgs/viks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 5px 10px;
}

img {
  width: 40px;

}

.logocwb {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  color: #fff;
}

nav ul {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

nav ul li {
  list-style: none;
  margin-inline: 1rem;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover a {
  color: #000000;
  transition: 0.3s;
}

/* Container - 2 parts. 1 with the odin logo and the other with the form */

.container {
  display: flex;
}

.left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.left img{
  width: 150px;
}

.odintxt {
  font-family: 'Macondo', cursive;
  font-size: 1.5rem;
  color: white;
}

.formula {
  width: 50%;
  height: 100vh;
  background-color: rgba(250, 235, 215, 0.7) /* alpha for opacity */
  
}

/* Form configs and design */


.toptext {
  margin-top: 70px;
  width: 425px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
}

.toptext p {
  margin-top: 15px;
}

.whitebox {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 10px 35px 20px;
  margin-top: 50px;
  
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  display: block;
}

label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 5px;
}

#whitebox-p {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
}

.login {
  color: #596D48;
  text-decoration: none;
}

#account {
  font-size: 12px;
  margin-top: 30px;
  margin-left: 30px;
}
.formrow {
  display: flex;
}

.form-element {
  margin-right: 50px;
  margin-top: 12px;
}

input {
  border: 1px solid #E5E7EB;
  padding: 4px 6px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  width: 185px;
}

input:focus {
  border: 1px solid blue;
}

input:required:focus {
  border: 1px solid rgb(0, 119, 255);
  outline: none;
  }

input:focus:valid {
  border: 1px solid #3964DC;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  outline: none;
}

input:focus:invalid {
  border: 1px solid #3964DC;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  outline: none;
}

input:invalid {
  color: black;
}


input:valid {
  border: 1px solid #E5E7EB;
}

.error {
  color: #C13838;
  font-size: 9px;
  margin-top: 3px;
}

.validated {
  color: #3cd33c;
}

.create-account {
  margin-left: 30px;
}

button {
  background-color: #596D48;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  outline: none;
  margin-top: 25px;
  border: none;
  padding: 10px 40px 12px 40px;
  font-size: .7rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#account {
  font-family: "Roboto", sans-serif;
}